---
name: home
url: /
animationIn: fadeIn
---

<div class="grid-container">
  <div class="grid-block align-center lets-explore-title">
    <h1>Let's Explore</h1>
  </div>

    <div class="leading-title-wrapper">
      <p class="leading-title">our boundaries and push ourselves to learn new possibilities.</p>
      <div class="grid-block align-center">
        <a ui-sref="portfolio" class="button-white">Get started</a>
      </div>
    </div>

  <div class="grid-block align-center connect-wrapper">
    <ul class="connect-block-list">
      <li>
        <a href="">
          <div ng-include="'/assets/img/linkedin-icon.svg'"></div>
        </a>
      </li>
      <li>
        <a href="">
          <div ng-include="'/assets/img/github-icon.svg'"></div>
        </a>
      </li>
      <li>
        <a href="">
          <div ng-include="'/assets/img/behance-icon.svg'"></div>
        </a>
      </li>
      <li>
        <a href="">
          <div ng-include="'/assets/img/twitter-icon.svg'"></div>
        </a>
      </li>
    </ul>
  </div>
</div>
