.portfolio-detail-wrapper {
    margin-top: 4rem;
    .row {
        max-width: 100%;
    }
}
.content-detail-wrapper {
    background: white;
    padding: 3rem;
    h1 {
        color: $logo-green;
    }
}
