// COLORS

$bg-dark: #0c0a17;
$logo-green: #26C281;
$charcoal: #333;

// FONTS

$lato-font: 'Lato', sans-serif;
$base-font-size: 14px;


// MEDIA QUERIES

$xsmall-screen: 320px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;
$xlarge-screen: 1440px;
